<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # biarkan Apache akses folder storage langsung
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^ - [L]

    # izinkan file & folder asli
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # arahkan semua request lainnya ke index.php Laravel
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>
