<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /

    # Akses langsung untuk folder storage
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^ - [L]

    # Jika file atau folder asli ada, jangan rewrite
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Arahkan semua request ke index.php Laravel
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php
</IfModule>
